@import '../../../@dv/scss/dv';

home {
  // Color
  * {
    color: #c8c8c8;
  }

  // Elements
  h1 {
    color: $white;
    line-height: 1;
    font-size: 100px;
    font-weight: 600;

    &.brand-name {
      small {
        display: block;
        margin-left: 7%;
        font-weight: 100;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 18px;
      }
    }
  }

  h2 {
    color: $darker-grey;
    line-height: 1;
    font-size: 80px;
    font-weight: 500;
    text-transform: uppercase;

    small {
      display: block;
      margin-top: -9px;
      color: $soft-white;
      font-size: 50px;
      line-height: 100px;
      font-weight: 100;
    }

    & + .row {
      margin-top: 96px;
    }
  }

  h3 {
    color: $white;
    line-height: 1;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
  }

  p {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: inherit;
    font: inherit;
    text-decoration: none;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;

    &:focus {
      outline: none;
    }

    &:active {
      background-color: transparent;
    }
  }

  ul {
    list-style: none;

    li {
      width: 78px;
      height: 78px;
      background: #5a6374;
      border-radius: 50%;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;

      fa-icon {
        position: relative;
        z-index: 99;
      }
    }
  }

  // Classes
  .max-width-80 {
    max-width: 80%;
  }

  .brand {
    & + h3 {
      margin-top: 150px;
    }
  }

  .bg-primary {
    background: #f5f6f6;
  }

  .bg-secondary {
    background: #424955;

    em {
      display: block;
      color: $white;
      line-height: 1;
      font-size: 100px;
      font-weight: 600;

      & + p {
        margin-top: 10px;
      }
    }
  }


  // Header
  header {
    display: block;
    background-image: url('/assets/images/home/section-bg-1.jpg');

    .login-btn {
      padding-top: 20px;
      padding-right: 20px;
    }

    .brand-container {
      padding-top: 126px;
      padding-bottom: 233px;

      .brand-logo {
        width: 110px;
      }
    }
  }


  // Content
  main {
    display: block;
    background: $white;

    .img-block {
      width: 100%;
      height: 100%;
      min-height: 450px; // To overcome Flex Height priority in when row
      background-size: cover;
      background-repeat: no-repeat;
    }

    section {

      &.member-section {

        .img-block {
          background-image: url('/assets/images/home/side-section-1.jpg');
        }

        .register-btn {
          fa-icon {
            padding: 25px;
            background: $primary;
            border-radius: 20px;

            svg {
              &.fa-edit {
                path {
                  transition: 1s;
                  fill: $white;
                }
              }
            }

          }

          div {
            padding-left: 20px;
            color: $darker-grey;
            font-size: 25px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1;
          }
        }
        .store-icons {
          a {
            width: 35%;
            &.app-store {
              margin-left: 5px;
            }
          }
        }
      }

      &.diving-section {
        background-image: url('/assets/images/home/section-bg-2.jpg');
      }

      &.club-section {
        .img-block {
          background-image: url('/assets/images/home/side-section-2.jpg');
        }
      }

      &.subscribe-section {
        background-image: url('/assets/images/home/section-bg-3.jpg');

        fa-icon {
          svg {
            &.fa-envelope {
              path {
                transition: 1s;
                fill: $secondary
              }
            }
          }
        }
      }

      .desc {
        color: $primary;
        line-height: 1;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
      }

      .desc-1 {
        color: $secondary;
        line-height: 1;
        font-size: 35px;
        font-weight: 100;
        //text-transform: uppercase;
      }

      .desc-2 {
        color: $darker-silver;
        line-height: 50px;
        font-size: 50px;
        font-weight: 100;
        text-transform: uppercase;
      }
    }
  }


  // Footer
  footer {

    .footer-container {

      .brand {
        .brand-logo {
          width: 64px;
        }

        h1 {
          font-size: 58px;

          small {
            margin-left: 0;
            letter-spacing: 14px;
            line-height: 18px;
            font-size: 12px;
          }
        }

      }

      span {
        line-height: 80px;
      }
    }
  }


  // Media Queuries
  @media (max-width: 991px) {

    h1 {
      font-size: 75px;

      &.brand-name {
        small {
          letter-spacing: 14px;
        }

      }

    }

    h2 {
      font-size: 46px;

      small {
        margin-top: 5px;
        line-height: 35px;
        font-size: 35px;
      }
    }

    h3 {
      font-size: 40px
    }

    .brand {
      padding-top: 145px;
      padding-left: 0;

      &:before {
        left: 50%;
        top: 23px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
    }


    footer {
      text-align: center
    }

    footer .brand, footer p, footer .inline-list {
      float: none;
      margin-left: auto;
      margin-right: auto
    }

    footer .brand {
      padding-top: 0
    }

    footer .brand h1 {
      font-size: 50px
    }

    footer .brand h1 small {
      margin-left: 7%
    }


  }

  @media (max-width: 767px) {
    .desc-1 {
      font-size: 25px;
    }
    .desc-2 {
      font-size: 40px
    }
  }

  @media (max-width: 400px) {
    h1 {
      font-size: 50px;

      &.brand-name {
        small {
          letter-spacing: 10px;
        }
      }
    }

    h2 {
      font-size: 30px;

      small {
        margin-top: 5px;
        line-height: 35px;
        font-size: 22px;
      }
    }

    h3 {
      font-size: 28px
    }

    .desc-1 {
      font-size: 20px;
    }
  }

}
