<div class="page-layout carded fullwidth inner-scroll" id="deals">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign="center center"
         fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div
        class="logo mb-24 mb-md-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon
          class="logo-icon s-32 mr-16"
          [@animate]="{value:'*',params: { delay:'50ms',scale:'0.2' }}"
        >
          card_giftcard
        </mat-icon>
        <span
          class="logo-text h1"
          [@animate]="{value:'*',params:{ delay:'100ms',x:'-25px' }}"
        >
          Deals
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div
          class="search"
          fxFlex
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search for a deal">
        </div>
      </div>
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button
        class="add-deal-button dv-white mt-24 mt-md-0"
        mat-raised-button
        [routerLink]="'/apps/deals/new'"
      >
        <span>ADD NEW DEAL</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <mat-table
        #table
        class="deals-table"
        dvPerfectScrollbar
        matSort
        [@animateStagger]="{value:'50'}"
        [dataSource]="dataSource"
      >

        <!-- Image Column -->
        <ng-container matColumnDef="featured-asset">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let deal">
            <img
              *ngIf="deal.featuredAsset?.url"
              class="deal-asset"
              [alt]="deal.dealName"
              [src]="deal.featuredAsset.url"
              (click)="openLightbox($event, deal.featuredAsset.url)"
            />
            <img
              *ngIf="!deal.featuredAsset?.url"
              [alt]="deal.name"
              [src]="'assets/images/shops/shop-asset-placeholder.png'"
            />
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let deal">
            <p class="text-truncate">{{deal.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Price</mat-header-cell>
          <mat-cell *matCellDef="let deal" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{deal.price | currency}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Deal Target Column -->
        <ng-container matColumnDef="for">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>
            <mat-select
              #columnSelect
              class="mat-table-select"
              placeholder="Target"
              data-name="dealTarget"
            >
              <mat-option value="">All</mat-option>
              <mat-option
                *ngFor="let target of dealTargets"
                [value]="target._id"
              >
                {{target.name}}
              </mat-option>
            </mat-select>
          </mat-header-cell>
          <mat-cell *matCellDef="let deal" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{deal.dealTarget.name}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Expiry Column -->
        <ng-container matColumnDef="expiry">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Expiry</mat-header-cell>
          <mat-cell *matCellDef="let deal" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{deal.expiry | date: 'MMM dd, yyyy HH:mm' }}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>
            <mat-select
              #columnSelect
              class="mat-table-select"
              placeholder="Status"
              data-name="status"
            >
              <mat-option value="">All</mat-option>
              <mat-option value="active">Active</mat-option>
              <mat-option value="expired">Expired</mat-option>
            </mat-select>
          </mat-header-cell>
          <mat-cell *matCellDef="let deal" fxHide fxShow.gt-xs>
            <ng-container *ngIf="canManageDeal(deal)">
              <mat-icon
                *ngIf="!(deal.expiry | expired)"
                matTooltip="Deal Active"
                class="active-icon green-600 s-16"
              >
                check
              </mat-icon>
              <mat-icon
                *ngIf="deal.expiry | expired"
                matTooltip="Deal Expired"
                class="active-icon red-500 s-16"
              >
                close
              </mat-icon>
            </ng-container>
          </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Delete</mat-header-cell>
          <mat-cell *matCellDef="let deal" fxHide fxShow.gt-xs>
            <mat-icon
              *ngIf="canManageDeal(deal)"
              matTooltip="Delete Deal"
              color="accent"
              (click)="confirmDelete($event, deal)"
            >
              delete
            </mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row
          class="deal"
          matRipple
          [routerLink]="'/apps/deals/'+ deal._id"
          *matRowDef="let deal; columns: displayedColumns;"
        >
        </mat-row>

      </mat-table>

      <mat-paginator
        #paginator
        [length]="dataSource.total"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20, 50]"
      >
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>