@mixin map-dialog-theme($theme) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-dialog-container {
    map-dialog {
      .dialog-content-wrapper {
        .map-container {
         .map-hint-dialog {
           background: map-get($background, card);

           .dialog-header {
             background: map-get($accent, default);
           }
         }
        }
      }
    }
  }

  ngx-material-timepicker-content {
    --body-background-color: #{map-get($background, card)};
    --button-color: #{map-get($accent, default)};
    --dial-background-color: #{map-get($accent, default)};
    --clock-face-background-color: #{map-get($background, app-bar)};
    --clock-hand-color: #{map-get($accent, default)};
    --clock-face-time-inactive-color: #{map-get($primary, default-contrast)};
  }
}






