<div id="main">


  <div class="container" id="container-1">

    <!-- NAVBAR: Left -->
    <ng-container>
      <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
    </ng-container>
    <!-- / NAVBAR: Left -->

    <div class="container" id="container-2">

      <div [dvPerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}" class="container"
           dvPerfectScrollbar
           id="container-3">

        <!-- TOOLBAR: Below static -->
        <ng-container>
          <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </ng-container>
        <!-- / TOOLBAR: Below static -->

        <!-- CONTENT -->
        <content></content>
        <!-- / CONTENT -->

      </div>

    </div>

  </div>

</div>

<!--&lt;!&ndash; SIDE PANEL &ndash;&gt;-->
<!--<ng-container *ngIf="!dvConfig.layout.sidepanel.hidden">-->

<!--  &lt;!&ndash; CHAT PANEL &ndash;&gt;-->
<!--  <dv-sidebar [foldedAutoTriggerOnHover]="false" [foldedWidth]="70" [folded]="true"-->
<!--                class="chat-panel right-chat-panel" lockedOpen="gt-md" name="chatPanel"-->
<!--                position="right">-->
<!--    <chat-panel></chat-panel>-->
<!--  </dv-sidebar>-->
<!--  &lt;!&ndash; / CHAT PANEL &ndash;&gt;-->

<!--</ng-container>-->
<!--&lt;!&ndash; / SIDE PANEL &ndash;&gt;-->

<!--&lt;!&ndash; QUICK PANEL &ndash;&gt;-->
<!--<dv-sidebar class="quick-panel" name="quickPanel" position="right">-->
<!--  <quick-panel></quick-panel>-->
<!--</dv-sidebar>-->
<!--&lt;!&ndash; / QUICK PANEL &ndash;&gt;-->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS                                                                                            -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- TOOLBAR -->
<ng-template #toolbar>
  <toolbar *ngIf="!dvConfig.layout.toolbar.hidden"
           [ngClass]="dvConfig.layout.toolbar.position">
  </toolbar>
</ng-template>
<!-- / TOOLBAR -->

<!-- LEFT NAVBAR -->
<ng-template #leftNavbar>
  <dv-sidebar *ngIf="!dvConfig.layout.navbar.hidden" [folded]="dvConfig.layout.navbar.folded"
                class="navbar-dv-sidebar"
                lockedOpen="gt-md"
                name="navbar">
    <navbar class="left-navbar"></navbar>
  </dv-sidebar>
</ng-template>
<!-- / LEFT NAVBAR -->