@mixin dv-widget-theme($theme) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  dv-widget {

    > .dv-widget-front,
    > .dv-widget-back {
      background: map-get($background, card);
      border-color: map-get($foreground, divider);
    }
  }
}