<div class="page-layout carded fullwidth inner-scroll" id="spots">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign="center center"
         fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div
        class="logo mb-24 mb-md-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon
          class="logo-icon s-32 mr-16"
          [@animate]="{value:'*',params: { delay:'50ms',scale:'0.2' }}"
        >
          waves
        </mat-icon>
        <span
          class="logo-text h1"
          [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
        >
          Spots
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div
          class="search"
          fxFlex
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search for a spot">
        </div>
      </div>
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button
        class="add-spot-button dv-white mt-24 mt-md-0"
        mat-raised-button
        [routerLink]="'/apps/spots/new'"
      >
        <span>ADD NEW SPOT</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

<!--      <mat-tab-group [(selectedIndex)]="tabIndex" #mapTabEl>-->
<!--        <mat-tab label="List View"></mat-tab>-->
<!--        <mat-tab label="Map View">-->
<!--          <mat-tab label="Map View">-->
<!--            <div class="map-container" fxFlex="100">-->
<!--              <agm-map-->
<!--                [style.height.px]="maps_height"-->
<!--                [latitude]="address_obj.lngLat.coordinates[1]"-->
<!--                [longitude]="address_obj.lngLat.coordinates[0]"-->
<!--                [zoom]="zoom"-->
<!--                [scrollwheel]="false"-->
<!--                [disableDoubleClickZoom]="true"-->
<!--              >-->

<!--                <agm-marker-->
<!--                  *ngFor="let spot of spot_list.data; let i = index"-->
<!--                  [latitude]="spot.address.lngLat.coordinates[1]"-->
<!--                  [longitude]="spot.address.lngLat.coordinates[0]"-->
<!--                  (markerClick)="getspotDetail(i)"-->
<!--                >-->
<!--                </agm-marker>-->

<!--              </agm-map>-->
<!--            </div>-->
<!--          </mat-tab>-->
<!--        </mat-tab>-->
<!--      </mat-tab-group>-->

      <mat-table
        #table
        class="spots-table"
        dvPerfectScrollbar
        matSort
        [@animateStagger]="{value:'50'}"
        [dataSource]="dataSource"
      >

        <!-- Image Column -->
        <ng-container matColumnDef="featured-asset">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let spot">
            <img
              *ngIf="spot.featuredAsset?.url"
              class="spot-asset"
              [alt]="spot.name"
              [src]="spot.featuredAsset.url"
              (click)="openLightbox($event, spot.featuredAsset.url)"
            />
            <img
              *ngIf="!spot.featuredAsset?.url"
              [alt]="spot.name"
              [src]="'assets/images/shops/shop-asset-placeholder.png'"
            >
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let spot">
            <p class="text-truncate">{{ spot.name }}</p>
          </mat-cell>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Location</mat-header-cell>
          <mat-cell *matCellDef="let spot" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{spot.address.fullAddress}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Created</mat-header-cell>
          <mat-cell *matCellDef="let spot" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{spot.createdAt | date: 'MMM dd, yyyy'}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Updated Column -->
        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md mat-sort-header>Updated</mat-header-cell>
          <mat-cell *matCellDef="let spot" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{spot.updatedAt | date: 'MMM dd, yyyy'}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Conditions Column -->
        <ng-container matColumnDef="conditions">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Conditions</mat-header-cell>
          <mat-cell *matCellDef="let spot" fxHide fxShow.gt-xs>
            <mat-icon
              [routerLink]="'/apps/spots/'+spot._id + '/conditions'"
              matTooltip="Conditions"
              color="accent"
            >
              pool
            </mat-icon>
          </mat-cell>
        </ng-container>


        <!-- Delete Column -->
        <ng-container *ngIf="canManageSpots" matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Delete</mat-header-cell>
          <mat-cell *matCellDef="let spot" fxHide fxShow.gt-xs>
            <mat-icon
              matTooltip="Delete Shop"
              color="accent"
              (click)="confirmDelete($event, spot)"
            >
              delete
            </mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row
          class="spot"
          matRipple
          [routerLink]="'/apps/spots/'+spot._id"
          *matRowDef="let spot; columns: displayedColumns;"
        >
        </mat-row>

      </mat-table>

      <mat-paginator
        #paginator
        [length]="dataSource.total"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20, 50]"
      >
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>