$primary: #ED8A19;
$secondary: #FF9A1A;

$white: #ffffff;
$soft-white: #E6E6E6;
$ghost-white: #F2F2F3;
$material-white: #E0E0E0;

$silver: #F4F5F7;
$soft-silver: #c8c8c8;
$dark-silver: #6d7789;
$darker-silver: #6c7688;


$grey: #848282;
$soft-grey: #727171;
$dark-grey: #444444;
$darker-grey: #424955;
//2F353F


$dark-blue: #1B489D;
$soft-blue: #039be5;

$green: #43a047;
$red: #f44336;
